@font-face {
    font-family: "SEBANG_Gothic_Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

.splash {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: white;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: hideSplash 5s ease;
    animation-fill-mode: forwards;
}

@keyframes hideSplash {
    0% {
    }
    99% {
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

.splash .logo {
    width: 25%;
    height: 18%;
    animation: flyingPlane 5s ease;
}

@keyframes flyingPlane {
    50% {
        transform: translateX(0) translateY(0%);
    }
    100% {
        filter: invert(81%) sepia(46%) saturate(3745%) hue-rotate(354deg)
            brightness(104%) contrast(101%);
        transform: translateX(100%) translateY(-100%);
    }
}

.splash .title {
    font-size: 4rem;
}

.splash .title span {
    color: var(--gray);
}

.index__container {
    padding: 5px;
    font-family: "GmarketSansMedium";
    width: 350px;
    margin: auto;
    display: block;
}

/*헤더 로고영역*/
.navbar {
    font-family: "SEBANG_Gothic_Bold";
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
    height: 50px;
    text-transform: uppercase;
    color: var(--black);
}

.navbar__logo {
    display: flex;
    align-items: center;
    height: 50px;
    cursor: pointer;
}

.navbar__logo svg {
    width: 30px;
    height: 100%;
    margin-right: 5px;
}

.navbar__title {
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: -2px;
}

.navbar__title span {
    color: var(--gray);
}

/*헤더 컨트롤영역*/
.navbar__control {
    height: 100%;
    width: 50px;
}

.navbar__control .logout {
    display: block;
    height: 100%;
    border-radius: 10px;
    font-size: 0.7rem;
    cursor: pointer;
}

.navbar__control .logout:hover {
    color: var(--gray);
}

.navbar__control .logout span {
    line-height: 50px;
}

/*greeting 영역*/
.greeting {
    margin: 20px 0;
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 1.5;
}

.greeting .greeting__text {
    font-weight: 700;
    font-size: 1rem;
}

/*컨텐츠 영역*/
main.contents-container {
    display: grid;
    grid-template-columns: 1fr;
}

.card .card-img-top {
    width: 100%;
}

.card .card-title {
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: 700;
}

.card .card-body {
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}

.card .card-body .card-info {
    display: flex;
    flex-direction: column;
}

.card .card-body .card-info p {
    margin: 2px 0;
}

.card .card-body .card-genre {
}

.card .card-body .card-producer {
}

.card .card-body .card-booking {
}

.card .card-body .btn {
    font-weight: 700;
    padding: 10px;
    text-align: center;
    color: var(--green);
    border: 2px solid var(--green);
    display: inline-block;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
}

.card .card-body .btn:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
}

.card .card-body .btn:hover {
    background-color: var(--green);
    color: #fff;
}

.card .card-body .btn:hover:before {
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
}

@media (min-width: 501px) {
    .splash {
        flex-direction: row;
    }

    .splash .logo {
        height: 25%;
    }

    .splash .title {
        font-size: 5rem;
    }
    .index__container {
        width: 500px;
    }
    .card .card-img-top {
        height: 345px;
        object-fit: cover;
    }

    main.contents-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media (min-width: 1001px) {
    .index__container {
        width: 1000px;
    }
    main.contents-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
